# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/dubboserver/target/
/dubbo-client/target/
/dubbo-server-api/target/
/mysql-driver/target/
/database-driver/target/
